@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--primary: #2b6cb0;
	--secondary: #2c5282;
	--success: #2f855a;
	--danger: #9f3c3c;
	--warning: #d97706;
	--info: #2b6cb0;
	--light: #f7fafc;
	--dark: #2d3748;
	--white: #ffffff;
	--black: #000000;
	--border: #e2e8f0;
	--border-dark: #718096;
}
body,
html {
	background-color: var(--light);
}

.h-rest {
	height: calc(100vh - 64px);
}

/* width */
.overflow-y-auto::-webkit-scrollbar,
.overflow-y-scroll::-webkit-scrollbar {
	width: 6px;
}

/* Track */
.overflow-y-auto::-webkit-scrollbar-track,
.overflow-y-scroll::-webkit-scrollbar-track {
	background: #f1f1f1;
}

/* Handle */
.overflow-y-auto::-webkit-scrollbar-thumb,
.overflow-y-scroll::-webkit-scrollbar-thumb {
	background: rgba(0, 0, 0, 0.5);
	border-radius: 8px;
}

/* Handle on hover */
.overflow-y-auto::-webkit-scrollbar-thumb:hover,
.overflow-y-scroll::-webkit-scrollbar-thumb:hover {
	background: rgba(0, 0, 0, 0.7);
}
